{% extends 'base.html' %}
{% block title %}CH | Inicio{% endblock title %}
{% block content %}
			<!-- Main -->
				<div id="main">
					<div class="container">
						<div class="row main-row">
							<div class="col-12">

								<section>
									<h2>Citation Hub</h2>
									<p>Citation Hub es una aplicación nacida de la experiencia y necesidad personal. Como aficionado a la historia, últimamente he visto como mi biblioteca aumenta su tamaño exponencialmente y es muy difícil encontrar información. <strong>Citation Hub</strong> permite alamacenar, organizar y relacionan entre sí los diferentes fragmentos de información que queremos rescatar de nuestro material de lectura. <strong>Citation Hub</strong> hace más fácil la colaboración detro de un equipo de investigación al poder compartir la información.</p>
									<p style="text-align: center;"><a href="{% url 'register' %}" class="button">Pruébalo gratis</a></p>

								</section>
                            <section>

                            </section>

                            </div>
                        </div>

						<div class="row main-row aln-center">
                            <div class="col-3 col-6-medium col-12-small" style="border: 1px solid red">
                                <section>
									<h2>Gratis</h2>

                                </section>
                            </div>
                            <div class="col-3 col-6-medium col-12-small">
                                <section>
									<h2>Personal</h2>

                                </section>
                            </div>
                            <div class="col-3 col-6-medium col-12-small">
                                <section>
									<h2>Equipo</h2>

                                </section>
                            </div>
                        </div>
					</div>
				</div>
{% endblock content %}

